    <div class="container-fluid w-75">
        <div class="card">
            <div class="card-header text-center">
                Create a new Post
              </div>
        <div class="card-body">
            <form>
            <div class="mb-3">
                <label for="postTitle" class="form-label">Post Title</label>
                <input type="text" class="form-control" id="postTitle" placeholder="Your Title Here">
              </div>
              <div class="mb-3">
                <label for="postArea" class="form-label">Content</label>
                <textarea class="form-control" id="postArea" rows="4"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Post</button>
              <button type="reset" class="btn btn-secondary">Clear All</button>
            </div>
            </form>
        </div>
    </div>