<div class="card w-75 mx-auto">
    <div class="card-header text-center">
      Sign Up
    </div>
    <div class="card-body">
        <form>
            <div class="form-text text-center mb-3">
                Already have an account? <a href="#login">Login instead!</a>
            </div>
            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text" id="addon-wrapping">@</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
              </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword">
                <div class="form-text">Password must be at least 8 characters.</div>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </form>
    </div>
  </div>